
@{
    ViewBag.Title = "Promocoes";
}

<div class="container">
    <h2>Promocoes</h2>
    <div class="row" style="margin-left:auto; margin-right:auto">
        <div class="col-md-12" id="divPromo">
            <ul class="list-inline" id="list-promo">
                <!-- 
                <li>
                    <h3>Promoções 123</h3>
                    <p>Empresa</p>
                    <p>Descrição da promoção e das vantanges </p>
                    <a href="#!"></a>
                </li>
               -->
            </ul>

        </div>

    </div>

</div>

